body {
  background-color: lightgray;
  background-image: url(../images/bg.png);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {

    background-color: #eb766eea;
    text-align: center;
    color: #fff;
  }
#todo-list {
  max-width: 500px;
  margin: 60px auto;
}
form, .todo {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px 20px;
  margin-bottom: 10px;
}
.todo {
  background-color: #58A1EB;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
  background-color: #2B649E;
}
form input {
  padding: 4px 8px;
  flex-grow: 1;
  margin-right: 16px;
}
.todo {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 16px;
  background-color: #EB766E;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}
button:hover {
  background-color: #b35750;
}
button:active {
  background-color: #802c26;
}
button:focus {
  outline: 0;
}
input[type='text'] { font-size: 20px; font-family: monospace; }
.todo input[type="checkbox"] {
  transform: scale(1.8) translateY(1px);
  margin: 0 16px 0 0;
  cursor: pointer;
}
.todo-text input {
  padding: 4px;
}
.todo-text {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.todo-completed {
  display: flex;
  margin: 10px 0;
}
.todo-actions {
  display: flex;
  justify-content: space-between;
}